<%= form_for([@user,@education_detail],:html=>{:multipart=>true}) do |f| %>
  <% if @education_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education_detail.errors.count, "error") %> prohibited this education_detail from being saved:</h2>

      <ul>
      <% @education_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
       <div class="col-xs-12">
        <b>SSC Details</b><br>
        <b>SSC Year:</b><br><%= f.text_field :ssc_yr %> 
       </div>
    </div>
  

    <div class="row">
      <div class="col-xs-12">
        <b>Institute:</b><br><%= f.text_field :ssc_institute%>         
      </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-xs-12">
      <b>Percentage:</b><br><%= f.text_field :ssc_percentage%> 
      </div>
   
  </div>
  <hr>
  <div class="container">
    <div class="row">
       <div class="col-xs-12">
        <b>HSC Details</b><br>
        <b>HSC Year:</b><br><%= f.text_field :hsc_yr%>
       </div> 
    </div>
    

    <div class="row">
      <div class="col-xs-12">
        <b>Institute:</b><br><%= f.text_field :hsc_institute%> 
      </div>

    </div>
  
    <div class="row">
      <div class="col-xs-12">
      <b>Percentage:</b><br><%= f.text_field :hsc_percentage%> 
      </div>
    </div>
    
  </div>
  
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <b>Graduation Details</b><br>
        <b>Course:</b><br><%= f.text_field :grad_course%> 
      </div>
    </div>
    

    <div class="row">
      <div class="col-xs-12">
        <b>Specialization:</b><br><%= f.text_field :grad_specialization%>  
      </div>       
    </div>
   
    <div class="row">
      <div class="col-xs-12">
      <b>Institute:</b><br><%= f.text_field :grad_institute%> 
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <b>Year:</b><br><%= f.text_field :grad_year%> 
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <b>Percentage:</b><br><%= f.text_field :grad_percentage%> 
      </div>
    </div>
   
  </div>

  <hr>
    <div class="container">
    <br>
    <div class="row">
      <div class="col-xs-12">
        <b>Post Graduation Details</b><br>
        <b>Course:</b><br><%= f.text_field :postgrad_course%> 
      </div>
    </div>
  

    <div class="row">
      <div class="col-xs-12">
        <b>Specialization:</b><br><%= f.text_field :postgrad_specialization%> 
      </div>        
    </div>
    
    <div class="row">
      <div class="col-xs-12">
      <b>Institute:</b><br><%= f.text_field :postgrad_institute%> 
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <b>Year:</b><br><%= f.text_field :postgrad_year%> 
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <b>Percentage:</b><br><%= f.text_field :postgrad_percentage%> 
    </div>
    </div>
  
  </div> 

  <hr>

  <div class="container">
    
    <div class="row">
      <div class="col-xs-12">
      <b>Other Qualification :</b><br><%= f.text_area :other_qualification, :size=>'3x3' %>  
    </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
      <%= f.submit "save", :class=>"btn btn-success"%>
      <%= link_to "Cancel",root_path,:class => "btn btn-warning" %>
      </div>
    </div>
   

  </div>
<% end %>