<%= form_for(@user, url: update_profile_user_path(@user), html: {method: "put",:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="jumbotron">
  <br> 
  <table class="table">
    <tr>
      <td><b>First Name <b></td> 
      <td><div class="col-lg-4"><%= f.text_field :first_name, :class=>"form-control"%></div></td>
    </tr>
    <tr>
      <td><b>Last Name </b></td>
      <td><div class="col-lg-4"><%= f.text_field :last_name, :class=>"form-control"%></div></td>
    </tr>


    <tr>
      <td><b>Gender </b></td>
      <td><div class="col-lg-4"><%= f.select :gender,options_for_select(%w[Male Female]), :class=>"form-control" %></td>
    </tr>
    <tr>
      <td><b>Contact Number </b></td>
      <td><div class="col-lg-4"><%= f.text_field :contact_no, :class=>"form-control"%></div></td>
    </tr>
    <tr>
    <td><b>Address </b></td>
    <td><div class="col-lg-4"><%= f.text_area :address, :class=>"form-control"%></div></td>
    </tr>
    <tr>
      <td><b>Ready to Relocate</b></td>
      <td><div class="col-lg-4"><%= f.select :ready_to_relocate,options_for_select(%w[Yes No])%></div></td>
    <tr>
      <td><b>Current Location </b></td>
      <td><div class="col-lg-4"><%= f.text_field :current_location, :class=>"form-control"%></div></td>
    <tr>
      <td><b>Skills </b></td>
      <td><div class="col-lg-4"><%= f.text_area :skills, :class=>"form-control"%></div></td>
    </tr>
    <tr>
      <td><b>Twitter URL </b></td>
      <td> <div class="col-lg-4"><%= f.text_field :twitter_url, :size=>"51x2", :class=>"form-control"%></div></td>
    </tr>
    <tr>
      <td><b>Linkedin URL </b></td>
     <td><div class="col-lg-4"><%= f.text_field :linkedin_url, :size=>"51x2", :class=>"form-control"%></div></td>
    </tr>
    <tr>
      <td><b>Blog URL </b></td>
      <td><div class="col-lg-4"><%= f.text_field :blog_url, :size=>"51x2", :class=>"form-control"%></div></td>
    </tr>
    <tr>
      <td><b>Upload Profile Image </b></td>
      <td><div class="col-lg-4"><%= f.file_field :image, :class=>"span7" %></div></td>
    </tr>
    <tr>
      <td><b>Upload Resume </b></td>
      <td><div class="col-lg-4"><%= f.file_field :resume, :class=>"span7" %></div></td>
    </tr>

  </table>
  <div class="row">
    <div class="col-xs-12">
      <%= f.submit "Save", :class => "btn btn-primary"%>
      <%= link_to "Cancel",new_user_path,:class => "btn btn-warning"%>
    </div>
  </div>

<% end %>

</div>
</div>


</div>

