<%= form_for(@user, url: update_profile_user_path(@user), html: {method: "put"}, html: {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <br> 
  <div class="row">
      <div class="col-xs-3" ><b>First Name :<b><br> <%= f.text_field :first_name%>
      </div><span></span>
      <div class="col-xs-9" ><b>Last Name :</b><br><%= f.text_field :last_name%>
      </div> 
  </div>

 
  <div class="row">
      <div class="col-xs-3" ><b>Gender :</b><br><%= f.select :gender,options_for_select(%w[Male Female]) %>
      </div>
      <div class="col-xs-9" ><b>Contact Number :</b><br><%= f.text_field :contact_no%>
      </div>
  </div>
 
  
  <div class="row">
    <div class="col-xs-12" >
    <b>Address :</b><br>
      <%= f.text_area :address, :size=>"51x2"%>
    </div>
  </div>

 
   <div class="row">
      <div class="col-xs-3" ><b>Ready to Relocate</b><br><%= f.select :ready_to_relocate,options_for_select(%w[Yes No])%>
      </div>
      <div class="col-xs-9" ><b>Current Location :</b><br><%= f.text_field :current_location%>
      </div>
  </div>

 
   <div class="row">
    <div class="col-xs-12" >
    <b>Skills :</b><br>
      <%= f.text_area :skills, :size=>"51x2"%>
    </div>
  </div>
 

   <div class="row">
    <div class="col-xs-12" >
    <b>Twitter URL :</b><br>
      <%= f.text_field :twitter_url, :size=>"51x2"%>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" >
    <b>Linkedin URL :</b><br>
      <%= f.text_field :linkedin_url, :size=>"51x2"%>
    </div>
  </div>

  
  <div class="row">
    <div class="col-xs-12" >
    <b>Blog URL :</b><br>
      <%= f.text_field :blog_url, :size=>"51x2"%>
    </div>
  </div>
  
 
  <div class="row">
  <div class="col-xs-12">
    <b>Upload Profile Image :</b><br>
      <%= f.file_field :image, :class=>"span7" %>
  </div>
  </div>
  
 
  <div class="row">
  <div class="col-xs-12">
    <b>Upload Resume :</b><br>
      <%= f.file_field :resume, :class=>"span7" %>
  </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <%= f.submit "Save", :class => "btn btn-success"%>
      <%= link_to "Cancel",new_user_path,:class => "btn btn-warning"%>
    </div>
  </div>

<% end %>

</div>
