<%= form_for(@education_detail) do |f| %>
  <% if @education_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education_detail.errors.count, "error") %> prohibited this education_detail from being saved:</h2>

      <ul>
      <% @education_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :institute %><br>
    <%= f.text_field :institute %>
  </div>
  <div class="field">
    <%= f.label :passout_year %><br>
    <%= f.date_select :passout_year %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
